@{
    ViewData["Title"] = "Home Page";
}
</br>
</br>
</br>
<div class="list-group">
    <form asp-controller="REPPs" asp-action="Index" method="get">
        <input type="submit" class="list-group-item" value="Gestionar REPPS">
    </form>
    <form asp-controller="Regions" asp-action="Index" method="get">
        <input type="submit" class="list-group-item" value="Gestionar Regiones">
    </form>
    <form asp-controller="Employees" asp-action="Index" method="get">
        <input type="submit" class="list-group-item" value="Gestionar Empleados">
    </form>
    <form asp-controller="Administratives" asp-action="Index" method="get">
        <input type="submit" class="list-group-item" value="Gestionar Cargos Administrativos">
    </form>
</div>