@{
    ViewData["Title"] = "Home Page";
}

<div class="list-group">
    <form asp-controller="REPPs" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Repp" />
    </form>
    <form asp-controller="Administratives" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Administrativos" />
    </form>
    <form asp-controller="Regions" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Regiones" />
    </form>
    <form asp-controller="Operatives" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Operativos" />
    </form>
    <form asp-controller="CollectionREPPs" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Colecciones de repp" />
    </form>
    <form asp-controller="Employees" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Colecciones de empleados" />
    </form>
    <form asp-controller="OrganizingEntities" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Organizadores (Cursos)" />
    </form>
    <form asp-controller="Courses" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Cursos" />
    </form>
    <form asp-controller="Enrollments" asp-action="Index">
        <input type="submit" class="list-group-item" value="Gestionar Inscripciones" />
    </form>

</div>
